<div class="container">
	<div class="row text-center justify-content-center mt-3">
		<!-- User's name -->
		<h3 class="col-12"><%="#{@user.first_name}" %> <%="#{@user.last_name}"%></h3>

		<!-- Description -->
		<p class="col-12">
			<small class="text-muted">Description</small><br/>
			<%= @user.description %>
		</p>
		<!-- Email -->
		<p class="col-12">
			<small class="text-muted">Email</small><br/>
			<%= @user.email %>
		</p>
		<%= link_to "Edit profile", edit_user_registration_path, class: 'btn btn-primary mb-4' %>
	</div>

	<!-- User's events -->
	<div class="row justify-content-center">	
		<% @user_events.each do |event| %>
		<div class="col-md-4 mt-3">
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title"><%= event.title %></h5>
					<p class="card-subtitle mb-2 text-muted"><small><%= event.location %></small></p>
					<p class="card-text"><%= event.price %> €</p>
					<%= link_to "See more",  event_path(event.id), class:"btn-primary btn-sm" %>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>